@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;700&display=swap");

* {
  font-family: "Oxanium", cursive;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  padding-top: 90px;
}